* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  place-items: center;
}

h1 {
  border-bottom: 2px solid brown;
  padding-bottom: 10px;
}
.wrapper {
  display: grid;
  place-items: center;
  background: rgb(248, 246, 246);
  border: 2px solid brown;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 25px;
}

form > label {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
  padding: 10px;
  width: 16rem;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(180, 72, 108, 0.63);
}
input:focus,
input:valid {
  border-color: rgb(100, 26, 51);
}

#submitbtn {
  background: none;
  border: none;
  background-color: rgb(104, 5, 5);
  padding: 15px;
  color: moccasin;
  margin: 15px 0 0 30%;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 5px 4px #888;
}
.hidden {
  content-visibility: hidden;
}
#submitbtn:hover {
  background-color: rgba(104, 5, 5, 0.89);
}

#res {
  font-size: 1rem;
  font-family: monospace;
}

#cntDwn {
  padding-block: 20px;
  content-visibility: hidden;
  transition: all ease 0.3s;
}
/* TO be implemented in The Modal Section */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.butn {
  padding: 8px;
  border: none;
  box-shadow: 2px 3px 6px #888;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  transition: all ease 0.5s;
}

.butn:hover {
  background-color: rgba(180, 174, 174, 0);
}
